<div class="container">

  <body>
    <form onsubmit="return cargarProducto()" id="miForm">
      <div class="card">
        <div class="card-header">
          Formulario para ingresar productos
        </div>
        <div class="card-body">
          <h5 class="card-title">Ingrese producto:</h5>
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" name="name" id="name" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="input" name="price" id="price" class="form-control" aria-describedby="priceHelp" />
          </div>
          <div class="mb-3">
            <label for="thumbnail">Foto URL</label>
            <input type="input" name="thumbnail" id="thumbnail" class="form-control" />
          </div>
          <div>
          <button class="btn btn-success" type="submit">Agregar</button>
          </div>
        </div>
      </div>
    </form>
  </body>

  <body>
    <div id="products"></div>
  </body>

  <body>
    <form onsubmit="return enviarMensaje()">
      <div class="card">
        <div class="card-header">
          Centro de mensajes
        </div>
        <div id="messages"></div>
        <div class="card-body">
          <div class="mb-3">
            <label for="author" class="form-label">Email</label>
            <input type="text" name="author" id="author" required class="form-control"/>
          </div>
           <div class="mb-3">
            <label for="text" class="form-label">Message</label>
            <input type="text" name="text" id="text" required class="form-control"/>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-success" type="submit">Enviar</button>
          </div>
        </div>
    </form>
  </body>
</div>